# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl

# Virtual environments
.venv/
venv/


# Logs and temp
*.log
*.tmp
*.swp

# Data outputs
data/
*.xlsx
outputs/
language_predictions.csv


# OS files
.DS_Store
Thumbs.db
lid.176.bin
